body {
    background-image: url(../images/back-lilas-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 250px;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 17px;
    width: 600px;
    text-align: center;
}

li {
    cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 720px) {
    body {
        background-image: url(../images/back-lilas-3.png);
    }
}