@font-face {
  font-family: 'Bela';
  src: url(../fonts/bela-yasmine.ttf);
}

html {
  scroll-behavior: smooth;
}

:root {
  --transformCardFront: none;
  --displayImg: flex;
  --heightCardFront: 400px;
  --heightCardFront2: 280px;
  --boxShadow: none;
  --buttonMarginTop: 50px;
  --displayCountdown: none;
  --heightBody: 100vh;
}

.clicked {
  --transformCardFront: rotateX(160deg);
  --displayImg: none;
  --heightCardFront: 350px;
  --heightCardFront2: 230px;
  --boxShadow: inset 20px 10px 90px rgba(0,0,0,.15), 0 10px 90px rgba(0,0,0,0.3);
  --buttonMarginTop: 100px;
  --displayCountdown: flex;
  --heightBody: 280vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:var(--heightBody);
    background-image: url(../images/back-lilas-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  /*Create the card container*/
  .birthdayCard {
    position: relative;
    width: 600px;
    height:400px;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
    box-shadow: var(--boxShadow);
  }

  .img {
    display: var(--displayImg);
  }

  /*Style the front of the card*/
  .cardFront {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../images/background-lavanda3.png);
    width: 600px;
    height: var(--heightCardFront);
    overflow: hidden;
    transform-origin: top;
    transform: var(--transformCardFront);
    box-shadow: inset 20px 10px 90px rgba(0,0,0,.13), 20px 0 40px rgba(0,0,0,0.1);
    transition: .6s;
  }
  
  /*Style the inside part of the card*/
  .cardInside {
    position: absolute;
    background-image: url(../images/background-lavanda3.png);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    width: 600px;
    height:400px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 20px 5px 90px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .inside-text {
    position: relative;
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
  }
  
  .verse {
    position: relative;
    top: 20px;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  h1 {
    margin: auto;
    position: relative;
    top: 30px;
    font-family: 'Bela', sans-serif;
    font-size: 3.5rem;
  }

  .textInvite {
    margin: auto;
    position: relative;
    top: 30px;
    font-size: 16px;
  }

  .dataHorario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 25px;
  }

  .dateInvite {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #dateweek {
    margin-right: 18px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }

  #dateHour {
    margin-left: 18px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }

  .separador {
    background-color: black;
    width: 1px;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
  }

  #s1 {
    margin-right: 10px;
  }

  #s2 {
    margin-left: 10px;
  }

  .dateMes {
    font-size: 1.3rem;
    position: relative;
    bottom: -12px;
  }

  .dateDia {
    font-size: 3.1rem;
  }

  .dateAno {
    font-size: 1.3rem;
    position: relative;
    top: -12px;
  }

  .place {
    position: relative;
    top: 10px;
  }

  .button {
    margin-top: 35px;
  }

  .click {
    width: 100px;
    margin: auto;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    background:rgba(227, 192, 246, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
    cursor: pointer;
  }

  #button-links {
    display: var(--displayCountdown);
    position: relative;
    top: 50px;
    justify-content: center;
    padding: 45px 0;
    font-size: 15px;
    gap: 35px;
}

#button-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    transition: background 0.2s;

}

#button-links a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.imgLinks {
  width: 86px;
  height: 86px;
  border-radius: 50%;
}
  
  #countdow-container {
    display: var(--displayCountdown);
    flex-wrap: wrap;
    justify-content: center; 
  }

  .text {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin: 1rem 2rem;
  }

  h2 {
    display: var(--displayCountdown);
    text-align: center;
    justify-content: center;
  }

  .container {
    position: relative;
    flex-direction: column;
    top: 100px;
    background-image: url(../images/details-flowers.png);
    backdrop-filter: blur(10px);
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 700px;
    height: 230px;
    display: var(--displayCountdown);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.325);

  }

  .countdow {
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: solid 1px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    margin: auto 8px auto 8px;
  }
  
  .countdow span {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .mapBox{
    display: var(--displayCountdown);
    position: relative;
    width: 600px;
    height: 350px;
    background: #fff;
    top: 150px;
}

.mapBox iframe{
    width: 100%;
    height: 100%;
}

  @media screen and (min-width: 300px) and (max-width: 720px) {
    .birthdayCard {
      width: 380px;
      height: 280px;
    }

    .cardFront {
      width: 380px;
      height: var(--heightCardFront2);
    }

    .cardInside {
      width: 380px;
      height:280px;
    }

    .img {
      width: 300px;
      height: 300px;
      display: var(--displayImg);
    }

    .text {
      font-size: 1.5rem;
      line-height: 0.7;
      margin: 1rem 2rem;
    }
  }