body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:130vh;
    background-image: url(../images/back-lilas-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  :root {
    --transformCardFront: none;
    --displayImg: flex;
    --heightCardFront: 350px;
    --heightCardFront2: 280px;
    --boxShadow: none;
    --buttonMarginTop: 50px;
    --displayCountdown: none;
  }

  .clicked {
    --transformCardFront: rotateX(160deg); 
    --displayImg: none;
    --heightCardFront: 275px;
    --heightCardFront2: 230px;
    --boxShadow: inset 30px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
    --buttonMarginTop: 100px;
    --displayCountdown: flex;
  }

  /*Create the card container*/
  .birthdayCard {
    position: relative;
    width: 600px;
    height:350px;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
    box-shadow: var(--boxShadow);
  }

  .img {
    display: var(--displayImg);
  }

  /*Style the front of the card*/
  .cardFront {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    width: 600px;
    height: var(--heightCardFront);
    overflow: hidden;
    transform-origin: top;
    transform: var(--transformCardFront);
    box-shadow: inset 30px 10px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
    transition: .6s;
  }

  .happy, .toyou {
    position: relative;
    font-family: didot;
    text-align: center;
    backface-visibility: hidden;
    font-size: 30px; 
  }
  
  .happy {
    top:198px;
  }
  
  .toyou {
    top:123px;
  }
  
  .bday {
    position: relative;
    font-family: arial;
    font-size: 30px;
    text-align: center;
    top:163px;
  }
  
  /*Style the inside part of the card*/
  .cardInside {
    position: absolute;
    background-color: #fff;
    width: 600px;
    height:350px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 30px 5px 100px rgba(0,0,0,0.2);
  }
  
  .inside-text {
    position: relative;
    top:-160px;
    transform: scale(0.7);
  }
  
  .wishes {
    position: relative;
    top:-100px;
    margin: 25px;
  }
  
  p {
    font-family: 'Brush Script MT';
    color: #333;
  }

  .button {
    margin-top: 50px;
  }

  .click {
    width: 100px;
    margin: auto;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    background:rgba(227, 192, 246, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
    cursor: pointer;
  }

  @media screen and (min-width: 300px) and (max-width: 720px) {
    .birthdayCard {
      width: 380px;
      height: 280px;
    }

    .cardFront {
      width: 380px;
      height: var(--heightCardFront2);
    }

    .cardInside {
      width: 380px;
      height:280px;
    }

    .img {
      width: 300px;
      height: 300px;
      display: var(--displayImg);
    }
  }

  #countdow-container {
    display: var(--displayCountdown);
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 4.5rem; 
  }

  .text {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin: 1rem 2rem;
  }

  .countdow {
    text-align: center;
    border: solid 1px red;
    margin-left: 15px;
    margin-right: 15px;
  }

  .countdow span {
    font-size: 1.3rem;
  }